* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2a2a2e;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    justify-items: center;
}

header {
    background-color: #9a0029;
    color: #fff;
    padding: 0 12px;
    grid-area: header;
    position: sticky;
    width: 100vw;
    top: 0;
}

footer {
    background-color: #4a4a50;
    color: #fff;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100vw;
    padding: 12px;
    grid-area: footer;
}
main {
    margin-top: 30px;
    margin-bottom: 30px;
    grid-area: main;
    width: 100vw;
    max-width: 1000px;
    background-color: #fff;
    padding: 40px 80px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

aside nav ul {
    flex-direction: column;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav a {
    padding: 20px 16px;
}

header nav a.active {
    background-color: #7a0021;
}

header nav a:hover {
    background-color: #600019;
}

header nav a:visited {
    color: #fff;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
    padding: 4px;
}

td.passed {
    background-color: green;
}
td.failed {
    background-color: red;
}


figure {
    margin: 0;
}
img {
    border-radius: 4px;
}
figcaption {
    font-style: italic;
}
#cats img {
    width: 100%;
    max-width: 500px;
}