body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: grid;
    grid-template-areas: "header header header" "aside1 main aside2";
}

header {
    background-color: #9a0029;
    color: #fff;
    padding: 0 12px;
    grid-area: header;
    position: sticky;
    top: 0;
}

footer {
    background-color: orange;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px;
}

aside {
    background-color: red;
    width: 250px;
    padding: 12px;
}

main {
    padding-left: 24px;
    padding-right: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}

aside nav ul {
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
}

header nav a {
    padding: 20px 16px;
}

header nav a.active {
    background-color: #7a0021;
}

header nav a:hover {
    background-color: #600019;
}

header nav a:visited {
    color: #fff;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
    padding: 4px;
}

td.passed {
    background-color: green;
}
td.failed {
    background-color: red;
}